---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0;url=/beaches" />
    <link rel="canonical" href="/beaches" />
    <title>Redirecting to Beaches</title>
  </head>
  <body>
    <p>This page has moved. <a href="/beaches">Click here</a> if you are not redirected.</p>
  </body>
</html>
