node_modules
.astro
.dist
.dist/*
dist
.env
.DS_Store
.agents/*
!.agents/skills/
.agents/skills/*
!.agents/skills/photoshoot-template/
.claude
.codex/*
!.codex/skills/
.codex/skills/*
!.codex/skills/photoshoot-template
.opencode
.vercel
files

*.sql
