---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0;url=/parking" />
    <link rel="canonical" href="/parking" />
    <title>Redirecting to Parking Amalfi Coast 2026</title>
  </head>
  <body>
    <p>This page has moved. <a href="/parking">Click here</a> if you are not redirected.</p>
  </body>
</html>
